@media screen and (max-width: 800px) {
    .menu {
        color: #606060;
        display: block;
        float: left;
        font-family: Helvetica;
        font-weight: 100;
        height: 100%;
        margin-right: 2px;
        min-width: 300px;
        order: 0;
        overflow-x: hidden;
        overflow-y: auto;
        width: 300px;
        position: absolute;

        background-color: #fafafa;
        box-shadow: 0px 2px 10px 1px rgba(128,128,160,0.3);
        z-index: 101;
    }

        .menu > section > p {
            font-size: 12pt;
            font-weight: 100;
            overflow: hidden;
            padding-left: 10px;
            white-space: nowrap;
            user-select: none;
            margin: 0px;
            text-overflow: ellipsis;
            padding: 12px 0px 12px 10px;
            color: #000000aa;
            border-radius: 2px;
            font-weight: 600;
        }

        .menu > section > .sub {
            font-size: 12pt;
            height: 34px;
            line-height: 34px;
            overflow: hidden;
            padding-left: 10px;
            white-space: nowrap;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            margin: auto 0px;
            color: var(--fore-active); /*#067b90;*/
            text-overflow: ellipsis;
            font-weight: 600;
        }
}

@media screen and (min-width: 801px) {
    .menu {
        color: #606060;
        display: block;
        float: left;
        font-family: Helvetica;
        font-weight: 100;
        height: 100%;
        margin-right: 2px;
        min-width: 160px;
        order: 0;
        overflow-x: hidden;
        overflow-y: auto;
        width: 220px;

        background-color: #fafafa;
        box-shadow: 0px 2px 10px 1px rgba(128,128,160,0.3);
        z-index: 101;
    }

        .menu > section > p {
            font-size: 10pt;
            font-weight: 100;
            overflow: hidden;
            white-space: nowrap;
            user-select: none;
            margin: auto 0px;
            text-overflow: ellipsis;
            padding: 10px 4px 10px 8px;
            color: #000000aa;
        }

        .menu > section > .sub {
            font-size: 11pt;
            height: 32px;
            line-height: 32px;
            overflow: hidden;
            padding-left: 10px;
            white-space: nowrap;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            margin: 0px;
            color: var(--fore-active); /*#067b90;*/
            text-overflow: ellipsis;
        }
}

.menu > section > h1 {
    padding: 10px 0 2px 14px;
    font-size: 12pt;
    color: #067b90;
    font-weight: 100;
    margin: 0px;
}

.menu > section > h2 {
    padding: 10px 0 2px 14px;
    font-size: 12pt;
    color: #067b90;
    font-weight: 100;
    margin: 0px;
    border-bottom: 1px solid #B0C0C0;
}


.menu > section > p > .img {
    margin-left: 0px;
    margin-top: 6px;
    float: left;
    margin-right: 8px;
}

.menu > section > p:hover {
    color: var(--but-fore-hover); /*#066B80;*/
    background-color: var(--but-back-hover); /* #e3e3e3;*/
    cursor: pointer;
}

.menu > section > p:active {
    color: var(--but-fore-active); /* #ffffff; */
    background-color: var(--but-back-active); /* #F28E22; */
    cursor: pointer;
}

.menu > section > p > i {
    font-size: 12pt;
    margin: 0px 10px 0px 5px;
}

.menu > section > .sel {
    color: var(--but-fore-selected);
    background-color: var(--but-back-selected);
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.menu > section > .sub > img {
    margin-left: 0px;
    margin-top: 11px;
    float: right;
    margin-right: 8px;
}

.menu > section > .sub:hover {
    color: var(--but-fore-hover);
    background-color: var(--but-back-hover);
    cursor: pointer;
}

.menu > section > .sub:active {
    color: var(--but-fore-active);
    background-color: var(--but-back-active);
    cursor: pointer;
}
